body.articles.index, body.articles.pickup, body.articles.latest, body.articles.search {
  .eyecatch-content {
    .eyecatch-link {
      height: 192px;
      display: block;
      position: relative;
      overflow: hidden;
      .eyecatch-image {
        width: 100%;
      }
      .eyecatch-filter {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(rgba(0,0,0,.06)60%,rgba(0,0,0,.22)75%,rgba(0,0,0,.25));
      }
      .eyecatch-title {
        position: absolute;
        bottom: 15px;
        padding: 0 15px;
        color: #fff;
      }
    }
  }
  @import 'article_module-sp';
  @import 'article_search_module';
}
body.articles.show {
  .content-wrapper {
    padding: 0 15px;
    .article {
      .article-thumb-wrapper {
        height: 192px;
        overflow: hidden;
        margin: 0 -15px;
        .article-thumb {
          width: 100%;
        }
      }
      .article-title-wrapper {
        margin: auto -15px;
        margin-bottom: 15px;
        padding: 0 15px;
        border-bottom: solid 1px #eee;
        .article-meta {
          font-size: 11px;
          color: $gray-text;
          padding: 5px 0;
        }
        .article-title {
          font-size: 18px;
          font-weight: 700;
          margin-bottom: 15px;
        }
        .article-desc {
          font-size: 12px;
          color: $gray-dark-text;
          margin-bottom: 10px;
        }
        .article-info {
          margin-bottom: 10px;
          ul.article-social {
            li {
              display: inline-block;
            }
          }
        }
      }
      .article-content {
        .paragraph {
          margin-bottom: 10px;
          .paragraph-header {
            font-size: 15px;
            border-bottom: 1px solid #eb6a7a;
          }
          .paragraph-second-header {
            font-size: 15px;
            .paragraph-second-header-icon {
              color: $brand-color;
              font-size: 10px;
            }
          }
          .body-text {
            font-size: 14px;
          }
          .thumbnail {
            width: 100%;
          }
        }
        .youtube-container {
          position: relative;
          width: 100%;
          padding: 56.25% 0 0 0;
          .youtube-iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
          }
        }
      }
      h2.recipe-ingredient {
        font-size: 15px;
        border-left: 2px solid #eb6a7a;
        border-bottom: 1px solid #eee;
        padding: 8px 12px 8px;
        margin-top: 45px;
      }
      .ingredient {
        margin: 20px auto;
        li {
          margin-top: 15px;
          padding-bottom: 3px;
          border-bottom: 1px solid #ddd;
          .right {
            float: right;
          }
        }
      }
      .recipe {
        margin: 15px auto;
        li {
          margin-top: 15px;
          padding-bottom: 3px;
          border-bottom: 1px solid #ddd;
        }
      }
      ul.article-social-bottom {
        margin: 15px auto;
        li {
          display: inline-block;
        }
      }
    }
  }
   
  .related-articles {
    .related-articles-title {
      background-color: $gray-dark-color;
      font-size: 10px;
      font-weight: 200;
      color: $gray-text;
      padding: 5px 15px;
    }
    .related-article {
      display: table;
      padding: 10px 15px;
      .related-article-image {
        display: table-cell;
        .thumbnail {
          width: 70px;
          margin-right: 10px;
        }
      }
      .related-article-text {
        display: table-cell;
        vertical-align: middle;
        color: $gray-text;
        .related-article-title {
          font-size: 13px;
          color: #000;
        }
        .related-article-user {
          color: $gray-text;
          font-size: 10px;
        }
      }
    }
  }
}
