.articles {
  .articles-title {
    background-color: $gray-dark-color;
    font-size: 10px;
    font-weight: 200;
    color: $gray-text;
    padding: 5px 15px;
  }
  .article {
    display: table;
    padding: 10px 15px;
    .article-image {
      display: table-cell;
      .thumbnail {
        width: 70px;
        margin-right: 10px;
      }
    }
    .article-text {
      display: table-cell;
      vertical-align: middle;
      color: $gray-text;
      .article-title {
        font-size: 13px;
        a {
          color: #000;
        }
      }
      .article-info {
        font-size: 10px;
      }
    }
  }
}

