$ebisu-body-bg: #EEE;
$ebisu-dark-bg: #1E2D3C;
$ebisu-border: #DCE3E8;
$ebisu-base-text: #333435;
$ebisu-description-text: #555;
$ebisu-place-holder: #ABB1B9;
$ebisu-main-color: #1252CA;
$ebisu-main-light-color: #5289f0;
$ebisu-complimentary-color: #EF6755;
$ebisu-white: #FFF;
