.categories {
  width: 130px;
  display: inline-block;
  vertical-align: top;
  border-right: 1px solid #eee;
  .category-title {
    margin: 0px 8px;
    margin-bottom: 10px;
    font-size: 13px;
    color: $atag-color;
  }
  ul {
    li {
      &.current {
        background: #f5f5f5;
      }
      a {
        display: block;
        padding: 10px 8px;
              color: $atag-color;
              >:visited {
                color: $atag-color;
              }
        i {
  	      font-size: 15px;
        }
        .category-name {
  	      font-size: 13px;
        }
      }
    }
  }
}
