/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *= require_self
 */
@import 'partials/sanitize';
@import 'partials/variables';
@media(max-width: 415px) {
  .ebisu {
    &__contents-wrapper {
      margin: 0 10px;
    }
  }
}
@media(max-width: 767px) and (min-width: 416px) {
}
@media(max-width: 1024px) and (min-width: 768px) {
}
@media(min-width: 1024px) {
  .ebisu {
    &__contents-wrapper {
      margin: 0 calc((100% - 1120px)/2) 0;
    }
    &__main-section {
      width: 770px;
      margin-right: 20px;
      float: left;
    }
    &__aside {
      width: 310px;
      float: right;
    }
    &__clear {
      clear: both;
    }
  }
}
@import 'partials/footer';
@import 'partials/header';
@import 'partials/article_list';
@import 'partials/article_body';
@import 'custom';
