/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *= require_self
 */
@import 'partials/sanitize';
@import 'partials/variables';


@media (max-width: 415px) {
  @import 'partials/header-sp';
  @import 'partials/footer-sp';
  @import 'partials/sidebar-sp';
  @import 'partials/articles-sp';
  @import 'partials/categories-sp';
  @import 'partials/contact-sp';
  @import 'partials/about-sp';
}
@media (max-width: 767px) and (min-width: 416px) {
  @import 'partials/header-sp';
  @import 'partials/footer-sp';
  @import 'partials/sidebar-sp';
  @import 'partials/articles-sp';
  @import 'partials/categories-sp';
  @import 'partials/contact-sp';
  @import 'partials/about-sp';
}
@media (max-width: 1024px) and (min-width: 768px) {
  @import 'partials/header';
  @import 'partials/footer';
  @import 'partials/sidebar';
  @import 'partials/breadcrumb';
  @import 'partials/articles';
  @import 'partials/contact';
  @import 'partials/about';
  @import 'partials/categories';
}
@media (min-width: 1024px) {
  @import 'partials/header';
  @import 'partials/footer';
  @import 'partials/sidebar';
  @import 'partials/breadcrumb';
  @import 'partials/articles';
  @import 'partials/contact';
  @import 'partials/about';
  @import 'partials/categories';
}

body {
  font-family: "游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
  ul {
    list-style-type: none;
  }
  li {
    list-style-type: none;
  }
}
