<!DOCTYPE html>
<html>
<head>
  <title>Ebisu</title>
  <%= stylesheet_link_tag    "ebisu/application", media: "all" %>
  <%= javascript_include_tag "ebisu/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
